// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
  max-width: 100vw;
  min-width: $min-width;
  overflow: hidden;

  @include media(desktop) {
    font-size: 75%; //12px
  }

  @include media(ultraHD) {
    font-size: 87.5%; //16px
  }
}

body {
  color: $font-color;
  background-image: $page-bg;
  font: normal 125% / 1.4 $text-font;
  line-height: 1.6;
  font-size: 1.6rem;
  padding: 1rem;
  padding: 0;
}

.container {
  height: 100%;
  overflow: hidden;
}

.section {
  overflow: hidden;
}