
.page {
    height: 100%;
}

#Home {
    .header {
        position: absolute;
        z-index: 2;
        top: 35%;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
        text-align: center;

        .main-logo {
            height: 15rem;
            width: auto;
            margin: 0 0 $space-md;
            border-radius: 10px;
            padding: $space;

        }

        .title {
            font-weight: 400;
            line-height: 1;
            font-size: 5rem;
            color: #fff;
            width: 70vw;
            letter-spacing: 0.1em;
            text-shadow: 0 10px 30px rgba(2, 11, 22, 0.5);
            text-transform: uppercase;
            margin: 0 0 $space-md;

            span {
                flex: 1 1 100%;
                white-space: nowrap;
                padding: 0
            }


            @include media (xs) {
                font-size: 5.5rem;
            }

            @include media (sm) {
                span {
                    flex: 1 1 auto;
                }

                span:first-child {
                    text-align: right;
                }

                span:last-child {
                    text-align: left;
                }
            }


            img {
                // display: none;
                height: 4rem;
                width: auto;

                @include media (xs) {
                    height: 4.5rem;
                }
            }
        }

        h2 {
            font-weight: 300;
            letter-spacing: 1px;
            text-transform: capitalize;
            font-size: 2rem;

            @include media (md) {
                font-size: 3rem;
            }
        }

        @include media (xl) {
            top: 25%;
        }
    }

    .video-container {
        video {
            background-position: center center;
            object-fit: cover;
            max-width: 100%;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: 0;
            position: absolute;
            right: 0;
            top: 0;
            opacity: .8;
        }
    }

    .scroll-icon {
        z-index: 2;
        position: absolute;
        bottom: $space-lg;
        left: 50%;
        transform: translate3d(-50%, 0, 0);

        @include media (lg) {
             bottom: $space-xl;
        }
    }

}