.page {
    height: 100%;
}

#Home {

    .header {
        left: 50%;
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        z-index: 1;

        .main-logo {
            height: 8rem;
            margin: 0 0 $space-md;
            width: auto;


            @include media (md) {
                height: 13rem;
                margin: 0 0 $space-lg;
            }
        }

        .title {
            font-weight: 400;
            line-height: .8;
            color: #fff;
            width: 70vw;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            margin: 0 0 $space;
            text-align: center;
            font-size: 4.9rem;

            span {
                white-space: nowrap;
            }

            img {
                height: 4rem;
                width: auto;
            }
        }

        h2 {
            font-weight: 300;
            letter-spacing: 1px;
            text-transform: capitalize;
            line-height: .8;
            font-size: 2rem;

            @include media (md) {
                font-size: 2.5rem;
            }
        }

        .break {
            @include media (smDn) {
                display: block;
                margin: $space;
            }
        }
    }

    .video-container {
        video {
            background-position: center center;
            object-fit: cover;
            max-width: 100%;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: 0;
            position: absolute;
            right: 0;
            top: 0;
            opacity: .8;
        }
    }

    @keyframes float {
        0% {
            // box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            transform: translate3d(-50%, 0, 0);
        }

        50% {
            // box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
            transform:translate3d(-50%, -10px, 0);
        }

        100% {
            // box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            transform: translate3d(-50%, 0, 0);
        }
    }

    .scroll-icon {
        z-index: 2;
        position: absolute;
        bottom: $space-lg;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
        animation: float 2s ease-in-out infinite;

        @include media (lg) {
            bottom: $space-xl;
        }
    }
}