.page {
    height: 100%;
}

#Home {
    .header {
        position: absolute;
        z-index: 2;
        top: 30%;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
        text-align: center;

        .main-logo {
            height: 10rem;
            width: auto;
            margin: 0;
            padding: $space;

            @include media (md) {
                height: 15rem;
                margin: 0 0 $space-md;
            }
        }

        .title {
            font-weight: 400;
            line-height: 1;
            font-size: 4rem;
            color: #fff;
            width: 70vw;
            letter-spacing: 0.1em;
            text-shadow: 0 10px 30px rgba(2, 11, 22, 0.5);
            text-transform: uppercase;
            margin: 0 0 $space-md;

            @include media (xs) {
                font-size: 4.9rem;
            }


            img {
                height: 3.2rem;
                width: auto;

                @include media (xs) {
                    height: 4rem;
                }
            }

            span {
                flex: 1 1 100%;
                white-space: nowrap;
                padding: 0;

                @include media (sm) {
                    flex: 1 1 auto;

                    &:first-child {
                        text-align: right;
                    }

                    &:last-child {
                        text-align: left;
                    }
                }
            }
        }

        h2 {
            font-weight: 300;
            letter-spacing: 1px;
            text-transform: capitalize;
            font-size: 2rem;

            @include media (md) {
                font-size: 3rem;
            }
        }

        @include media (md) {
            top: 35%;
        }

        @include media (xl) {
            top: 25%;
        }
    }

    .video-container {
        video {
            background-position: center center;
            object-fit: cover;
            max-width: 100%;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: 0;
            position: absolute;
            right: 0;
            top: 0;
            opacity: .8;
        }
    }

    .scroll-icon {
        z-index: 2;
        position: absolute;
        bottom: $space-lg;
        left: 50%;
        transform: translate3d(-50%, 0, 0);

        @include media (lg) {
            bottom: $space-xl;
        }
    }

}

.column {
    border: 1px solid #fff;
}