// @mixin title {
//     font-size: 10rem;
//     color: #fff;
//     letter-spacing: 0.1em;
//     font-weight: 100;
//     text-shadow: 0 10px 30px rgba(2, 11, 22, 0.5);
//     text-transform: uppercase;

//     @include media (iniPad) {
//         font-size: 4rem;
//     }

//     @include media (inPhone) {
//         font-size: 3.5rem;
//     }
// }

// .title {
//     @include title;
// }


svg {
    fill: $font-color;
}

.svg-xl {
    svg {
        height: 6rem !important;
        width: 6rem !important;
    }
}

.svg-lg {
    svg {
        height: 4rem !important;
        width: 4rem !important;
    }
}

.svg-md {
    svg {
        height: 3rem !important;
        width: 3rem !important;
    }
}

.svg-sm {
    svg {
        height: 2rem !important;
        width: 2rem !important;
    }
}

.icon_BTN,
.icon_BTN:focus,
.icon_BTN:hover,
.icon_BTN:active {
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background: transparent;
    outline: none;
}


// *:focus {
//   outline: none !important;
// }

// button::-moz-focus-inner {
//   border: 0;
// }

.noSelect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
}


// ::selection {
//     background: #e5eff1;
//     /* WebKit/Blink Browsers */
//     color: $color-primary;
// }

// ::-moz-selection {
//     background: #ebebeb;
//     /* Gecko Browsers */
//     color: $color-primary;
// }

// button:focus,
// button:active {
//     outline: none !important;
//     outline: 0 !important;
// }

// button::-moz-focus-inner {
//     border: 0;
// }

// // input::placeholder {
// //     color: rgb(182, 36, 158);
// //     opacity: .5;
// // }

// input::-moz-focus-inner {
//     border: 0;
//     border: none;
// }