.Header {
	--base-gutter: var(--space);

	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate3d(-50%, -50%, 0);
	z-index: 1;

	.main-logo {
		height: 6rem;
		margin: 0 0 2rem;
		margin: 0 0 var(--base-gutter);
	}

	h1 {
		@extend .reader-only;
	}

	.title {
		color: #fff;
		letter-spacing: 6px;
		font-size: 3rem;
		margin: 0 0 1rem;
		margin: 0 0 calc(var(--base-gutter) /2);
		font-weight: 400;
		line-height: .9;
		text-align: center;
		text-transform: uppercase;
		width: 70vw;
	}

	h2 {
		font-weight: 300;
		letter-spacing: 1px;
		text-transform: capitalize;
		line-height: .8;
		font-size: 1.5rem;
		font-size: var(--font-lg);
		margin-bottom: 60px;
		margin-bottom: var(--space-xl);
	}

	.break {
		@include hide;
		margin: 12px;
	}
}

a {
	color: var(--brand1);
	&:hover {
		color: var(--brand2);
	}
}

iframe {
	border: 1px solid var(--brand3);
	height: 80vh;
	width: 90vw;
	margin: auto;
	position: relative;
		top: 10vh;
		left: 5vw;
	z-index: 0;
}

.black-btn {
	background-image: linear-gradient(#464041, #181717);
	border: none;
	border-radius: 4rem;
	color: #fff;
	cursor: pointer;
	padding: 0.5rem 2.5rem;
	font-size: 1rem;
	font-weight: 600;
	user-select: none;
	text-transform: uppercase;
	letter-spacing: 1px;

	&:hover,
	&:active {
		background-image: linear-gradient(to right top, $brand2, $brand3);
	}

	&:active {
		transform: translateY(.1rem);
	}
}

.md-show {
	display: none;

	@include media() {
		display: block;
	}
}

.md-hide {
	display: block;

	@include media() {
		display: none;
	}
}

.space-bg {
	background-image: url("https://cdn.pixabay.com/photo/2016/06/05/07/59/stars-1436950_960_720.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	opacity: .04;
	@extend .abs-center;
	width: 100vw;
	height: 100vh;
	z-index: 0;
}