$menu-items : 5;
$vertical:true;

$btn-size: 30px;
$btn-size-md: 40px;

$gutter: $space;
$gutter-md: $space-lg;

$nav-size: ($btn-size + $gutter) * $menu-items;
$nav-size-md: ($btn-size-md + $gutter-md) * $menu-items;

.menu {
	position: absolute;
	height: $btn-size;
	width: 54px;
	top: $space-md;
	right: $space-md;
	z-index: 1000;

	&-button {
		cursor: pointer;
		height: 100%;
		position: relative;
		width: auto;
		z-index: 3;

		&:hover {
			transition: all .2s;
			transform: scale3d(1.05, 1.05, 1);
		}

		img {
			animation: fadeIn 1s ease-in-out;
			height: 100%;
			width: 100%;
			object-fit: contain;
		}
	}

	&-nav {
		position: absolute;
		overflow: hidden;
		z-index: 1;
		transition: all .1s;
		transition-delay: .6s;
		width: 0;
		height: 0;

		@if $vertical {
			top: $btn-size;
		}

		@else {
			left: - $nav-size;
			top: 0;
		}

		&.active {
			transition: all .1s;
			transition-delay: 0;

			@if $vertical {
				height: $nav-size;
				width: 100%;
			}

			@else {
				width: $nav-size;
				height: 100%;
			}
		}

		ul {
			font-size: 2.5rem;
			list-style: none;
			display: flex;
			align-content: center;
			justify-content: space-between;

			@if $vertical {
				padding-top: $gutter;
				flex-direction: column;
				height: 100%;
			}

			@else {
				padding-right: $gutter;
			}

			li {
				height: $btn-size;
				width: $btn-size;
				display: flex;
				align-content: center;
				justify-content: center;

				@if $vertical {
					margin: 0 auto;
				}

				@else {
					padding-top: 2px;
				}

				@for $i from 1 through $menu-items {
					&.hide-#{$i} {
						opacity: 0;

						@if $vertical {
							transform: translate3d(0, -$nav-size, 0) scale3d(1, 1, 0);
							transition: all ($i)*.2s;
						}

						@else {
							transform: translate3d(($nav-size + 120), 0, 0) scale3d(1, 1, 0);
							transition-property: transform, opacity;
							transition-duration: ($i)*.15s, 2s;
						}
					}

					&.show-#{$i} {
						&.active {
							opacity: 1;
							transform: translate3d(0, 0, 0) scale3d(1, 1, 1);

							@if $vertical {
								transition-property: transform, opacity;
								transition-duration: ($i)*.15s, .8s;
							}

							@else {
								transition: all ($i)*.2s;
							}
						}
					}
				}

				svg {
					height: $btn-size - 4;
					width: $btn-size - 4;
				}
			}
		}
	}

	@include media (md) {
		top: $space-xl;
		right: $space-xl;
		height: $btn-size-md;
		width: 72px;

		&-button {
			&:active {
				transform: scale3d(.95, .95, 1);
			}
		}

		&-nav {
			@if $vertical {
				top: $btn-size-md;

				&.active {
					height: $nav-size-md;
				}

				ul {
					padding-top: $gutter-md;
				}
			}

			@else {
				left: - $nav-size-md;

				&.active {
					width: $nav-size-md;
				}

				ul {
					padding-right: $gutter-md;
				}
			}

			ul {
				li {
					height: $btn-size-md;
					width: $btn-size-md;

					svg {
						height: $btn-size-md - 4;
						width: $btn-size-md - 4;
					}
				}
			}
		}
	}
}