@import './../../../../../libs/themes/src/styles/mixins';

.not-found {
  .card {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-weight: bold;
      color: var(--primary200);
      font-size: var(--font-xxxl);
    }
    h2 {
      text-align: center;
      padding-bottom: 1rem;
    }
    button {
      padding: 0.5rem 2.5rem;
      letter-spacing: 1px;
    }
  }
}
