// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

$min_width: $min-width;
$max_width: 1900px;
$min_font: 16px;
$max_font: 24px;


@font-face {
	font-family: 'Oswald';
	src: 
		// url('../fonts/Oswald-VariableFont.woff2') format('woff2'), 
		url('../fonts/Oswald-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Oswald';
	src: 
		// url('../fonts/Oswald-VariableFont.woff2') format('woff2'), 
		url('../fonts/Oswald-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

html {
	@include fluid-type($min_width, $max_width, $min_font, $max_font);
	max-width: 100vw;
	min-width: $min-width;
	overflow: hidden;
}

body {
	color: white;
	min-width: $min-width;
	color: var(--font-color);
	font-family: 'Oswald', sans-serif;
	font-family: var(--font-family);
}

.container {
	padding: 0 var(--space);
	max-width: 900px;
	margin: auto;
	min-width: $min-width;

	@include media($screen-xl) {
		max-width: 1200px;
	}
}

.hidden {
	visibility: hidden;
}

li {
	list-style: none;
}

button {
	border: none;
	background: none;
	cursor: pointer;
}

.section {
	overflow: hidden;
}

// Screen reader only
.screen{ 
	border: 0; 
	clip: rect(1px, 1px, 1px, 1px); 
	clip-path: inset(50%); 
	height: 1px; 
	overflow: hidden; 
	padding: 0; 
	position: absolute; 
	width: 1px; 
	white-space: nowrap;           
  }


  #dump {
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(238, 238, 238, 0.95);
	color: #444;
	font-size: var(--font-xs);
	font-weight: 300;
	display: none;
	width: 90vw;
	border-radius: 4px;
	padding: 1rem;
	// text-align: right;
	z-index: 10001;

	.dump-ul {
		display: flex;
		flex-wrap: wrap;
		// justify-content: space-around;
		li {
			padding-left: 8px;
		}
	}
}

section {
	// border: 1px solid #00f;
}
body {
	// margin-top:1rem !important;
	// border: 1px solid #f0f;
}