.error-boundary {
  height: 100%;
  background: var(--primary200);
  padding-top: 10vh;
  top: 0;

  .card {
    position: relative;
    width: 90vw;
    max-width: 500px;
    margin: auto;
    padding: 1.5rem;
    text-align: center;

    .title {
      h1 {
        line-height: 1.2;
      }

      .svg-icon {
        height: 50px;
      }
    }

    p {
      margin: 0 0 2rem 0;
    }
  }

  .btn {
    margin-left: auto;
    max-width: 160px;
  }
}
