@keyframes trans {
	from {
		transform: translate(0, 0);
	}
}

@include Page ('About') {
	transition: all .2s;

	.head-container {
		width: 100%;

		.scrambled-text {
			@extend .Title;
			animation: fadeIn 1s ease-in-out;
			text-align: center;

			span {
				color: var(--brand1);
			}
		}

		.split-image {
			margin: 0 auto var(--space-md);
		}
	}

	.body-container {
		margin-top: var(--space-lg);
		font-weight: 200;
		width: 60vw;
	}

	@include media($screen-lg) {
		flex-direction: row;

		.head-container {
			width: auto;
		}

		.body-container {
			height: 270px;
			width: 45vw;
			margin: 0;
		}
	}
}

@include animateIn ('About') {
	.scrambled {
		&-text {
			animation: fadeIn 2s ease-in-out;
		}
	}

	.split-about {
		div {
			animation: trans 1.2s linear;
		}
	}

	.body-container {
		animation: fadeIn var(--delay) ease-in-out;
	}
}


@include animateOut ('About') {
	.scrambled {
		opacity: 0;

		&-text {
			animation: fadeOut .4s ease-in-out;
		}
	}

	.body-container {
		animation: fadeOut var(--delay) ease-in-out;
	}
}