@include Page ('Contact') {
	max-width: 70vw;
	margin: auto;
	text-align: center;

	.text-brand1 {
		color: var(--brand2);
	}

	.break {
		display: block;
		height: 1px;
		opacity: 0;

		@include media () {
			height: auto;
			opacity: 1;
			display: inline;
		}
	}
}

@include animateIn ('Contact') {
	.content {
		animation: bounceInUp calc(var(--delay) + .2s) ease-in-out;
	}
}

@include animateOut ('Contact') {
	animation: fadeOut .4s ease-in-out;
}