@include Page ('Works') {
	.content {
		display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
		height: 100vh;

		figure {
			height: auto;
			width: 50vw;
			margin-bottom: var(--space);

			img {
				@extend .img-fit;
			}
		}

		.text {
			text-align: center;
			font-size: var(--space);
		}

		@include media() {
			figure {
				width: 40vw;
				max-width: 500px;
			}

			.text {
				font-size: var(--space-md);
			}

		}
	}
}

@include animateIn ('Works') {

	figure,
	a.btn {
		animation: fadeInRight var(--delay) ease-in-out;
	}

	.text {
		animation: fadeInLeft var(--delay) ease-in-out;
	}

}

@include animateOut ('Works') {
	animation: fadeOut .4s ease-in-out;
}